body{
background-color:moccasin;
}
h1{
font-size:50;
font-family:Arial Black;
text-align:center;
color:darkblue;
margin:15px;
}
section{
width:90%;
margin-left:5%;
margin-right:5%;
}
.nagl{
font-size:25;
font-family:Arial Black;
text-align:center;
margin:5px;
}
.elemn
{
text-align:center;
}
p {
text-align:center;
font-size:20;
}

